[Unit]
Description=PCH Temp Hammer
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/local/bin/pch_temp_hammer.sh

[Install]
WantedBy=multi-user.target
